#logo{
    height:125px;
    width:160px;
    float:left;
}
#map {
    padding:3px;    
}
#menu_div {
    padding:3px;
    float:left;
}
#header{
    padding:3px;
    height:125px;
    width:900px;
    border-color: yellow;
    background-color:#0000ff;
}
#container {
    border-color: white;
    border-width: 10px;
    border-style:solid;
    float:left;
    height:725px;
    width:900px;
    margin: 0 auto;
    }
#main {
  
}
body {
    border-color: black;
    background-color:#000099;
    height:800px;
    width:900px;
    margin: 0 auto;
}

h3{
color:grey; 
text-align:center;
}

h2 {
color:gray; 
text-align:center;
}

#info {
    color:grey;
    text-align:center;
}
#footer {
    padding:3px;
    height:25px;
    width:900px;
    background-color:#0000ff;
      text-align:center;
      color:grey;
      border-style:solid; 
      border-width:2.5px;
      border-color:white;
}
title{
    padding:3px;
margin-bottom:25px;  
width:150px;
height:900px;
color: #ffffff; 
}